body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* ========header======== */
ul {
list-style: none;
}
a {
    text-decoration: none;
}
header {
    font-style: normal;
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
}
.header-logo-web {  
    color: #4d5ae5; 
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.02em;
text-transform: uppercase;
}
.header-logo-studio {
    color: #2e2f42;
}
.navigate{
  border-bottom: #e7e9fc;
  background: #fff;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.header-menu-item{
 color: #2E2F42;
}
.header-item {
    display: inline-flex;
align-items: flex-start;
gap: 40px;
}
.header-address-list {
    color: #434455;
    font-style: normal;

}
.address-link {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
} 
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
/* ========header======== */

/* ========main========== */

.first-section {
    color:  #ffffff;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07px;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.page-title {
    color: #ffffff;
    background-color: #2e2f42;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.first-buttom {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: #4d5ae5;
}
.buttom:hover {
    background-color: #404bbf;
}
.buttom:focus {
    border: #404bbf;
}
.second-section {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
text-transform: capitalize;
}

.p {
    color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}
.h2 Our advantages {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;    
}
.strategy-name-text {
    text-align: left;
}
.punctuality-name-text {
    text-align: right;
}
.diligence-name-text {
    text-align: center;
}
.technologies-name-text {
    text-align: justify;
}
.p {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.third section {
    background-color: #f4f4fd;

}
.h2 Our Team {
    color: #2e2f42;
    background-color: #f4f4fd;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.li-mark-white {
background-color: #fff;
}
.ul Tom Ford {
    color: #2E2F42;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.p {
    color: #434455;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.fourth-section {

}
.portfolio-text {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;    
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2e2f42;
}
.logo {
color:  #2e2f42;
 font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
/* ========main========== */

/* ========footer======== */
.footer {
    color: #f4f4fd;
    background-color: #2e2f42;
}
.logo-sec {
    color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-part {
    color: #f4f4fd;
}
.footer-chpt {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0,02em;
}
/* ========footer======== */
