.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.a {
text-decoration: none;
}
ul, ol {
list-style: none;
}
.logo {
    color: #4d5ae5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-part {
    color: #2e2f42;
}
.nav-link {
    color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}
.address {
    font-style: normal;

}
.address-link {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
} 
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
.h1 Effective Solutions for Your Business {
    color: #ffffff;
    background-color: #2e2f42;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.buttom {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.buttom:hover {
    background-color: #404bbf;
}
.buttom:focus {
    border: #404bbf;
}
.h2 Our advantages {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;    
}
.p {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.h2 Our Team {
    color: #2e2f42;
    background-color: #f4f4fd;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.ul Tom Ford {
    color: #2E2F42;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.p {
    color: #434455;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.h2 Our Portfolio {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;    
}
.logo {
color:  #2e2f42;
 font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.footer Web {
    background-color: #2e2f42;
}
.footer-logo {
    color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-part {
    color: #f4f4fd;
}
.p {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0,02em;
}